@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
    --main-color: #0D0D0D;
    --primary-color: #F2F2F2;
    --secondary-color: #252525;
    --accent1-color: #F3CF06;
    --accent2-color: #E0D114;
    
    --heading-font: 'Dosis', sans-serif;
    --paragraph-font: 'Dosis', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--main-color);
    color: var(--main-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent1-color);
    border-radius: 50px;
}

header H1 {
    font-size: 5rem;
    margin: 0;
    display: none;
}

header img {
    display: none;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

nav ul {
    font-size: 3rem;
    font-weight: 600; 
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3rem;
    transition: 1s;
}

nav ul li a  {
    color: var(--main-color);
}

nav ul :hover {
    scale: 1.5;
    color: var(--main-color);
    transition: .6s;
}
nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

main {
    padding: 2rem 0;
}



.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    margin-bottom: 2rem;
    border-radius: 30px;
    max-width: 800px;
    margin:auto;
    box-shadow:0 0 30px var(--secondary-color);
    margin-bottom: 3rem;

}

.image {
    flex: 1; 
    text-align: right;
    max-width: 600px ; 
}

.image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 30px;
}

.card h2 {
    margin: 0 0 1rem 0;
    margin-left: 5rem;
    font-size: 5rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.card p {
    margin: 0;
    margin-left: 5rem;
    max-width: 15rem;
    font-size:30px;
}

.card2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    gap: 1rem;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.card2 .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card2 .image {
    width: 100px;
    height: 100px;
    margin-right: 5rem;
    background-color: var(--accent2-color);
    border-radius: 10px;
    margin-left: 20px;
}

.card2 h2 {
    margin: 0 0 1rem 0;
    margin-left: 5rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.card2 p {
    margin: 0;
    margin-left: 5rem;
    max-width: 10rem;
    font-family: var(--paragraph-font);
}
