/*tablet view*/
@media (min-width: 768px) and (max-width: 1024px) {

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card2 .icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    }

    .social-media ul {
        grid-template-columns: repeat(4, 1fr);
        max-height: 150px;

    }

    .social-media img {
        width:clamp(10px, 20vw, 125px); 
        height: auto; 
        margin-bottom: 5px; 
    }
}

/*--------------desktop view--------------------*/

@media (min-width: 1024px) {

    body {
        display: grid;
        grid-template-columns: 400px 1fr;
        padding: 1rem;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 800px;
    }

    header nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header nav ul li {
        margin: 10px 0;
    }
    
    header nav ul li a {
        font-size: clamp(1rem, 5vw, 3rem);
        color: var(--main-color);
        text-decoration: none;
    }
    
    header nav ul li img {
        width: 30px;
        height: 30px;
    }


    header img {
        display: flex;
        border-radius: 50%;
        max-width: 15vw;
        transform: scaleX(-1);}

    .card {
        display: flex;
        padding-left: 5rem;
        padding-right: 5rem;

        max-height: 700px;
        max-width: 60%;
        grid-template-columns: 1fr 1fr;
    }

    .card p {
        font-size: clamp(2rem, 2vw, 4rem);
    }

    .card img {
        display: none;
    }

    .card2 {
        max-width: 1000px;
    }

    .card2 .icons {
        display: flex;
        justify-content: space-around;

        margin-top: 10px;
    }



/*profile-desktop view--*/

.profilecontent {
    display: none;

}

.profile-info {
    max-width: 1000px;
}

.profile-header {
    margin: 5rem;
    display: flex;
    align-items: center;
    gap: 30px; 
}



/*----------contact desktop------------*/


.social-media h2 {
    scale:3;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 20px;
}

.social-media ul {
    display: grid;
    max-height: 100px;
    max-width: 600px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
}

/* gallery desktop*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 80%;
  }

}


