@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
    --main-color: #0D0D0D;
    --primary-color: #F2F2F2;
    --secondary-color: #252525;
    --accent1-color: #F3CF06;
    --accent2-color: #E0D114;
    
    --heading-font: 'Dosis', sans-serif;
    --paragraph-font: 'Dosis', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--main-color);
    color: var(--main-color);
}

h1, h2, h3,h4, p{
    color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--accent1-color);
    border-radius: 50px;
}

header H1 {
    font-size: clamp (2.5rem, 4vw, 4rem);
    margin: 0;
    display: none;
}

header img {
    display: none;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

nav ul {
    font-size: clamp(1rem, 6vw, 5rem);
    font-weight: 600; 
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 10%;
}

nav ul li a  {
    color: var(--main-color);
}

nav ul li a img {
    display: flex;
    justify-content: center;
}

nav ul :hover {
    scale: 1.5;
    color: var(--main-color);
    transition: .6s;
}
nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#experience {
    color: var(--accent1-color);
    font-size: 3rem;
    text-align: center;
}

.card {
    box-shadow:0 0 30px var(--secondary-color);
    margin-bottom: 3rem;
    justify-content: center;
    border-radius: 30px;
    margin: 1.5rem;
}

.image {
    flex: 1; 
    text-align: right;
    max-width: 600px ; 
}

.image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 30px;
    margin-bottom: 0;
    margin-right: 0;
}


.card h2 {
    margin: 3rem;
    font-size: clamp(2rem, 10vw, 7rem);
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.card p {
    margin-top: 0;
    margin-left: 3rem;
    font-size: clamp(1.5rem, 4vw, 5rem);
    display: flex;
    align-items: center;
    height: 100%;
    
}



.content {
    display: flex;
    flex-direction: column;
}

.card2 {
    background-color: var(--accent1-color);
    padding: 1rem;
    border-radius: 30px;
    width: 90%; 
    margin: 0 auto;
}

.card2 .icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.card2 .icon {
    height: clamp(5rem, 10vw, 10rem);
}

.card2 .icon img {
    height: clamp(4rem, 6vw, 10rem);
}



/* For gallery*/

.gallery-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-nav button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--accent2-color);
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.gallery-nav button:hover {
    background-color: var(--accent2-color);
    color: var(--main-color);
}

.gallery-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(2rem, 5vw, 6rem);
    color: var(--accent1-color);
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 1rem;

  }
  


  
  .gallerycard h3 {
    text-align: center;
    padding: 10px;
    font-size: clamp(2rem, 5vw, 10rem);
    margin: 0;
  }

  .gallerycard {
    padding: 1.5rem;
    border-radius: 30px;
    background-color: var(--secondary-color);
    margin: 1rem;
  }
  
  .gallerycard img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
  }
  
  .secondary-images {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .secondary-images img {
    width: 50%;
    height: auto;
    margin: 0 5px;    
  }
  
  .gallerycard p {
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background-color:var(--secondary-color);
    margin: 0;
    margin-bottom: 2rem;
  }


    /*------------------------*/

    


/* -------------For contact------------------*/

/* social media links*/

.social-media {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.social-media h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin-bottom: 20px;
}

.social-media ul {
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    background-color: var(--accent1-color);
    border-radius: 30px;
    padding: 50px; 
    list-style: none;
    margin: 0;
    gap: 20px; 
}

.social-media li {
    margin: 0 5px;

}

.social-media a {
    text-decoration: none;
    color: var(--main-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.social-media img {
    width:clamp(10px, 20vw, 100px); 
    height: auto; 
    margin-bottom: 5px; 
}

.social-media img:hover {
    transform: scale(1.5);
    transition: .5s;
}


.social-media span {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}



/* contact form*/

.contact-form {
    background-color: var(--main-color);
    padding: 25px;
    border-radius:30px;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    border:  var(--accent1-color);
}

.contact-form label {
    margin-bottom: 5px;
    margin-left: 2vw ;
    color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: var(--primary-color);
    font-size: clamp(1rem, 3vw, 3rem);
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.contact-form button {
    padding: 20px 20px;
    margin: auto;
    width: 50%;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-size: 4vw;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation:pulse 2s infinite;
    transition: background-color 1s ease, transform 0.3s ease;
}

.contact-form button:hover {
    scale:1.1;
}

/* For profile*/

.profile-header {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}


.profile-header h1 {
    margin: 0; 
    font-size: clamp(3rem, 5vw, 5rem);
}

.profile-header p {
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 4rem); 
}


.profile-header img {
    width:30vw;
    height: auto;
    border-radius: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
        box-shadow: 0 0 20px var(--accent1-color), 0 0 30px var(--accent1-color), 0 0 40px var(--accent1-color);
    }
    50% {
        transform: scale(1.05); 
        box-shadow: 0 0 30px var(--accent1-color), 0 0 40px var(--accent1-color), 0 0 50px var(--accent1-color);
    }
    100% {
        transform: scale(1); 
        box-shadow: 0 0 20px var(--accent1-color), 0 0 30px var(--accent1-color), 0 0 40px var(--accent1-color);
    }
}

#profilecontent h2 {
    color: var(--accent2-color);
    font-size: clamp(1rem, 4vw, 4rem);

}

#profilecontent p {
    color: var(--primary-color);
    font-size: clamp(1.5rem, 3vw, 4rem);
    padding: 2vw;

}


/*profile experience bar*/

.profile-info, .profile-skills{
    box-shadow:0 0 30px var(--secondary-color);
    margin-bottom: 3rem;
    justify-content: center;
    border-radius: 30px;
    margin: 1.5rem;
    padding: 2rem;
    text-align: center;

}



.profile-skills ul{
    background-color: var(--accent1-color);
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    font-size: clamp(2.5rem, 4vw, 4rem);
    gap: 2rem;
    width: auto;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent1-color); 
    color:var(--main-color);
    text-decoration: none; 
    border-radius: 30px; 
    font-size: clamp(2.5rem, 4vw, 4rem) ;
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.contact-button:hover {
    background-color: var(--accent2-color);
    transform: scale(1.05);
    animation:pulse 2s infinite; 
}












