/* styles.css */

:root {
    --main-color: #0D0D0D;
    --primary-color: #F2F2F2;
    --secondary-color: #252525;
    --accent1-color: #F3CF06;
    --accent2-color: #E0D114;
    
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Oswald', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--main-color);
    margin: 0;
    padding: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}
h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--main-color);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-color);
}

.section {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 20px;
    border-radius: 5px;
}


.button {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent1-color);
    border-radius: 20px;
}
 main {
    text-align: center;
 }

#sitepurpose {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

#color {
    background-color: var(--accent1-color);
    border-radius: 20px;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;

}
#color h2 {
    color: var(--main-color);
}
#color h3 {
    color: var(--primary-color);
}
#color h4 {
    color: var(--secondary-color);
}
#color h5 {
    background-color: var(--main-color);
    border-radius: 20px;
    color:var(--accent1-color);
}
#color h6 {
    background-color: var(--main-color);
    color: var(--accent2-color) ;
    border-radius: 20px;
}

footer {
    font-size: 3rem;
    height: 5rem;
    text-align: center;
    background-color: var(--main-color);

}


footer h3 {
    color: var(--accent1-color);
}


