@media screen and (min-width: 700px) {
    .temples-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
}
 header img {
    display: none;
}
nav a {
    font-size: 1.2rem;
    font-weight: 100;
    display: inline-block;
    margin:0.5rem;
    color: var(--nav-link-color);
}
nav a:hover {
    color: white;
}
}

@media screen and (min-width: 1024px) {
    .temples-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
