@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


:root {
    --main-color: #B0A475;
    --primary-color: #FFFFFF;
    --secondary-color: #4F3F34;
    --accent1-color: #9E8B6E; 
    --accent2-color: #181817; 
    --black-transparent: rgba(0, 0, 0, 0.5);
    
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Playfair Display', serif;
    
    --nav-background-color: #5A4C42; 
    --nav-link-color: #3B3027; 
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: #A68A6D; 
}
h1, h2, h3, h4, h5, h6, p {
    font-family:var(--heading-font);
    color:var(--accent2-color)
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color);
}

nav a {
    display: none;
}


header img {
    position: absolute;
    right: 8%;
    top: 3rem;
    width: 3rem;

}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    gap: 1rem;
    padding: 1rem; 
}
main h2{
    text-align: center;
}

.temples-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
    align-self: center;
}

.temples-container img {
    max-width: 100%;
    height: auto;

}

figcaption {
    width: auto;
    justify-items: center;
    font-style: oblique;
    font-size: 1.5rem;
    background-color: var(--accent2-color);
    padding: 0.5rem
}

footer  {
    background-color:var(--main-color);
    display: grid;
    justify-content: center;
}